<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">OSS7 | Connected to {{connectiondata?.uid}} using D7AP version {{connectiondata?.d7ap_version}} and running application {{connectiondata?.application_name}}</p>

            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright 7 Dash
            <a class="grey-text text-lighten-4 right" href="https://github.com/mo-norant/NgDash7">Githubpage</a>
        </div>
    </div>
</footer>