<div class="row">
    <form #fileform="ngForm" (ngSubmit)="onSubmit(fileform.value)">
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light right spacebelow" type="submit" name="action">Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="Active Acces Class">Active Acces Class</label><br>
                <input name="ActiveAccesClass" [(ngModel)]="filedata.active_access_class" type="number">
            </div>
            <div class="input-field col s6 ">
                <label for="VID ">Virtual id</label><br>
                <input name="VID" [(ngModel)]="filedata.vid" type="number">
            </div>
        </div>
        <div class="row ">
            <div class="input-field col s6 ">
                <label for="LQfilter ">Lq filter</label><br>
                <input name="LQfilter" [(ngModel)]="NOTIMPLEMENTED" number>
            </div>
            <div class="input-field col s6 ">
                <label for="NFCTRL ">NFCTRL</label><br>
                <input name="NFCTRL" [(ngModel)]="NOTIMPLEMENTED" number>
            </div>
        </div>
        <div class="row ">
            <div class="input-field col s6 ">
                <label for="RXNF ">RX NF method parameter</label><br>
                <input name="RXNF" [(ngModel)]="NOTIMPLEMENTED" number>
            </div>
            <div class="input-field col s6 ">
                <label for="TXNF ">TX NF method parameter</label><br>
                <input name="TXNF" [(ngModel)]="NOTIMPLEMENTED" number>
            </div>
        </div>

    </form>

</div>