<md-input-container>
    <input mdInput placeholder="Active Access Class" value="{{filedata?.response_command.actions[0].operation.file_data_parsed.active_access_class}}" number>
</md-input-container>
<md-input-container>
    <input mdInput placeholder="VID" value="{{filedata?.response_command.actions[0].operation.file_data_parsed.vid}}" number>
</md-input-container>
<md-input-container>
    <input mdInput placeholder="LQ Filter" value="NOT IMPLEMENTED" number>
</md-input-container>
<md-input-container>
    <input mdInput placeholder="NFCTRL" value="NOT IMPLEMENTED" number>
</md-input-container>
<md-input-container>
    <input mdInput placeholder="RX NF Method Parameter" value="NOT IMPLEMENTED" number>
</md-input-container>
<md-input-container>
    <input mdInput placeholder="TX NF Method Parameter" value="NOT IMPLEMENTED" number>
</md-input-container>