<md-input-container>
    <input mdInput placeholder="D7A Protocol v. major" value="{{filedata?.response_command.actions[0].operation.file_data_parsed.d7a_protocol_version_major}}" disabled>
</md-input-container>
<md-input-container>
    <input mdInput placeholder="D7A Protocol v. minor" value="{{filedata?.response_command.actions[0].operation.file_data_parsed.d7a_protocol_version_minor }}" disabled>
</md-input-container>
<md-input-container>
    <input mdInput placeholder="Custom" value="{{filedata?.response_command.actions[0].operation.file_data_parsed.application_name}}" disabled>
</md-input-container>