<div class="container">
    <h4> <strong>APL Commands</strong></h4>

    <table class="highlight">
        <thead>
            <tr>
                <td><strong>Tag</strong></td>
                <td><strong>Interface</strong></td>
                <td><strong>Status</strong></td>
                <td><strong>Request</strong></td>
                <td><strong>Response</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listdata">
                <td><strong>{{item.tag_id}}</strong></td>
                <td><strong>FILLER</strong></td>
                <td><strong>FILLER</strong></td>
                <td><strong>FILLER</strong></td>
                <td><strong>{{item.response_command_description}}</strong></td>
            </tr>



        </tbody>
    </table>
</div>