<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">OSS Dash7</a>

        <ul id="nav-mobile">
            <li><a class="waves-effect waves-light btn" routerLink="/"><i class="material-icons left">view_module</i>Home</a></li>
            <li><a class="waves-effect waves-light btn" routerLink="/files"><i class="material-icons left">library_books</i>Files</a></li>
            <li><a class="waves-effect waves-light btn" routerLink="/aplcommands"><i class="material-icons left">import_export</i> APL Commands</a></li>
        </ul>
    </div>
</nav>